/* Styles */

/* Color Palette 

Neutrals 
    Warm White #F8F5ED
    Light Pink #E1D3C8
    Rich Black #212020
Colors 
    Retro Peach #D29A85
    Dusty Orange #C88252

#gradient {
    background-image: linear-gradient(#D29A85, #F8F5ED);
  }

  
*/
/* Home page item cards with price. Steph */

#home-page-cards{
    display: flex;
    border: 5px solid blue;
    margin: 10px 15px;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 15px;
  }
  
  .price {
    color: #212020;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    border-radius: 100px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #D29A85;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }